<div class="flex flex-col md:flex-row gap-2 m-4">
  <p-card class="w-full md:w-1/3" header="Add User Information">
    <p-divider></p-divider>
    <form *ngIf="userFormGroup" [formGroup]="userFormGroup">
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-2">
          <label for="name">Name</label>
          <input
            required
            [ngClass]="{ 'ng-invalid ng-dirty': isFormControlInvalid('name') }"
            id="name"
            type="text"
            pInputText
            formControlName="name"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label for="age">Age</label>
          <p-dropdown
            id="age"
            formControlName="age"
            [options]="ageCategories"
            placeholder="Select your age"
          ></p-dropdown>
        </div>
        <div class="flex flex-col gap-2">
          <label>Gender</label>
          <div class="flex flex-wrap gap-2">
            <span *ngFor="let gender of genders">
              <p-radioButton
                [inputId]="gender"
                [value]="gender"
                formControlName="gender"
              ></p-radioButton>
              <label [for]="gender" class="ml-2">{{ gender }}</label>
            </span>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label>Hobbies</label>
          <div class="flex flex-col gap-2">
            <div class="flex gap-2 items-center">
              <input
                type="text"
                [ngClass]="{
                  'ng-invalid ng-dirty': isFormControlInvalid('currentHobby')
                }"
                pInputText
                formControlName="currentHobby"
                placeholder="Enter a hobby"
              />
              <button
                pButton
                type="button"
                icon="pi pi-plus"
                class="p-button-rounded p-button-outlined"
                (click)="addHobby()"
              ></button>
            </div>

            <div
              class="flex flex-col gap-2"
              *ngFor="let hobby of getFormValue('hobbies')"
            >
              <div class="flex gap-2 items-center">
                <input type="text" pInputText disabled [value]="hobby" />
                <button
                  pButton
                  type="button"
                  icon="pi pi-minus"
                  class="p-button-rounded p-button-outlined"
                  (click)="removeHobby(hobby)"
                ></button>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p-checkbox
            [required]="true"
            [ngClass]="{
              'ng-invalid ng-dirty': isFormControlInvalid('verification')
            }"
            value="verification"
            formControlName="verification"
            inputId="verification"
          ></p-checkbox>
          <label class="ml-2" for="verification"
            >All the information are verified</label
          >
        </div>
      </div>
      <div class="flex justify-between flex-row gap-4 mt-4">
        <button
          class="p-button-sm"
          pButton
          type="button"
          label="Add"
          (click)="addUser()"
        ></button>
        <button
          class="p-button-sm"
          pButton
          type="button"
          label="Reset"
          (click)="resetInputs()"
        ></button>
      </div>
    </form>
  </p-card>
  <p-card class="w-full md:w-2/3 h-full" header="User List">
    <p-divider></p-divider>
    <div *ngIf="usersList.length" class="flex flex-row-reverse gap-2 mb-4">
      <input
        placeholder="Search by name"
        type="text"
        pInputText
        [formControl]="searchControl"
      />
    </div>
    <ng-container *ngIf="getUsersList.length; else noUsers">
      <p-table styleClass="p-datatable-gridlines" [value]="getUsersList">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Hobbies</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.gender }}</td>
            <td>
              <div *ngFor="let h of user.hobbies">
                {{ h }}
              </div>
            </td>
            <td>
              <button
                pButton
                class="p-button-danger"
                icon="pi pi-trash"
                (click)="showRemoveDialog(user.name, user.id)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
    <ng-template #noUsers>
      <div>No users found</div>
    </ng-template>
  </p-card>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle">
  </p-confirmDialog>
  <p-toast [position]="'bottom-center'"></p-toast>
</div>
